body{
    font-family: 'Poppins', sans-serif;
}


.top-banner{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 12% ;
}



h1{
    font-size: 60px;

    
}
h2{
    font-size: 60px;

}
.orange-color{
    color: orange;
}
#text1{
    padding-bottom: 20px;
}
#text2{
    padding-top: 25px;
}
.link-button{
    text-decoration: none;
    /*background-image: linear-gradient(orange, tomato);*/
    background-image: linear-gradient(salmon, tomato);
    padding: 12px 60px;
    
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

.half-width img{
    width: 70%;
}


#mission{
    font-weight: 900;
    text-align: center;

}
