body{
    font-family: 'Poppins', sans-serif;
    
}


.top-banner{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 12% ;
}

.border{
    border-left: 8px solid midnightblue; padding: 10px" 
}

h1{
    font-size: 60px;

    
}
h2{
    font-size: 60px;

}
.orange-color{
    color: orange;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;

}

.link-button{
    text-decoration: none;
    /*background-image: linear-gradient(orange, tomato);*/
    background-image: linear-gradient(salmon, tomato);
    padding: 12px 60px;
    
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

.half-width img{
    width: 70%;
}


.MyMissioniIn2022{
    text-align: center;

    font-weight: 900;

}

img{
    width: 50%;
}
.card{
    display: flex;
    
    
}

.mission{
    width: 30%;
    background-color: #edf5f6;
    border-radius: 20px;
    padding: 20px;
    margin-left: 12%;

}

.vision{
    width: 30%;
    background-color: #ffeeee;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 20px;
 
}

.goals{
    width: 30%;
    background-color: #fff4d6 ;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10%;

}



 .develop{
    display: flex;
    margin-top: 7%;
    margin-right: 6%;
    background-image: url(images/shapes/shape-1.png);
    background-size:250px;

    background-position: left;
    background-repeat: no-repeat;
}

.develop-text{
  width: 60%;
}

.develop-img img{
    width: 60%;
    margin-left: 20%;

}

.develop-text h1{
    font-size: 60px;
}


.global{
    display: flex;
    margin-left: 12%;
    margin-top: 7%;
    margin-right: 3%;
    margin-bottom: 10%;
    background-image: url(images/shapes/shape-1.png);
    background-size:250px;
    background-position: right;
    background-repeat: no-repeat;
}



.global-text{
    width: 60%;
    margin-right: 20%;
  }


  .global-img img{
      width: 90%;
  }

  
  .global-text h1{
      font-size: 60px;
  }

  .last{
    display: flex;
    margin-left: 12%;
    margin-top: 2%%;
    margin-right: 3%;
    background-size:250px;
    background-position: right;
    background-repeat: no-repeat
  }

  .touch img {
      
    margin-top: 10%;
      width: 100%;
  }


  .touchtext{
    width: 60%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .salmon-color{
      color: salmon;
  }
footer{
    margin-top: 10px;
    background-color: black;
    text-align: center;
}
footer h1{
    color: white;
    font-style: italic;
}

footer p{
    color: white;
}